.Rproj.user
.Rhistory
.RData
.Ruserdata
_book
_bookdown_files
A01_sissejuhatus_files
bayesiaanlik-statistika.html
jata-meelde.html
kuidas-naevad-valja-teie-andmed.html
libs
loeng_models.Rmd
loeng_models.nb.html
loeng_models.html
loeng_models_files
02_sissejuhatus_files
statistiline-analuus.html
03_inferential_files
jareldav-statistika.html
15_hierarhiline_mudel.Rmd
brms-mudelid.html
brms.html
brms_schools.nb.html
margus_kysimus.R
